body {
    font-family: Source Sans Pro,sans-serif;
    padding: 10px;
    margin: auto;
    background-color: #444;
    color: #e4e4e4;
    width:auto;
}

h1 {
    background-color: gray;
    color: white;
    text-align: center;
    height:40px;
}

form {
    margin: auto;
    text-align: center;
}

#success {
    text-align: center;
    color: green;
}

#error {
    text-align: center;
    color: red;
}
table{
    width:100%;
}
#viertel{
    width:10%;
}
#dreiviertel{
    width:90%;
}
th {
    background-color: #21888F;   
}

td {
    text-align: left;
    padding: 8px;
    color:white;
}
table, th, td {
    background-color: #555555;
    border: 1px solid black;
    border-collapse: collapse;
}