body {
    font-family: Source Sans Pro,sans-serif;
    padding: 10px;
    margin: auto;
    background-color: #444;
    color: #e4e4e4;
    width:auto;
}

h1 {
    background-color: gray;
    color: white;
    text-align: center;
    height:40px;
}

form {
    margin: auto;
    text-align: center;
}

#success {
    text-align: center;
    color: green;
}

#error {
    text-align: center;
    color: red;
}
table{
    width:100%;
}
#Unamehd{
    width:10%;
}
#Messagehd{
    width:90%;
    text-align: left;
    text-indent: 1%;
}
#Message{
    text-align: left;
    
}
#Uname{
    text-align: center;
    font-weight: bold;
}
#Unamehd, #Messagehd {
    background-color: #21888F;   
}

td {
    margin-left: auto;
    padding: 8px;
    color:white;
}
.test{
    margin-left:auto;
    margin-right: auto;
    width:250px;
    clear:both;
    font-weight: bold;
}
.test input{
    margin-left: auto;
    width:100%;
    clear:both;
    text-align: center;
}
table, th, td {
    background-color: #555555;
    border: 1px solid black;
    border-collapse: collapse;
}
input[type=submit]{
    clear: both;
    text-align:center;
    -webkit-transition: color 0.2s,background-color 0.2s,box-shadow 0.2s,border 0.2s;
    -moz-transition: color 0.2s,background-color 0.2s,box-shadow 0.2s,border 0.2s;
    -o-transition: color 0.2s,background-color 0.2s,box-shadow 0.2s,border 0.2s;
    transition: color 0.2s,background-color 0.2s,box-shadow 0.2s,border 0.2s;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
input[type=submit]:hover{
    background: gray;
    box-shadow: none;
}